<div class="containter m-3 text-center mx-0">
  <h1>Mi perfil</h1>
  <div class="card mx-auto" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title mb-5">Datos Personales</h5>
      <p class="card-text text-start">Nombre Completo:
        {{this.first_name}}
        {{this.last_name}}</p>
      <p class="card-text text-start">Edad: {{this.age}}</p>
      <p class="card-text text-start">Correo: {{this.email}}</p>
      <p class="card-text text-start">Rol:
        {{#if this.is_admin}} Administrador {{else}} Usuario {{/if}}</p>
      <a href="/carts/{{this.cart}}" class="btn btn-primary">Ver mi carrito</a>
    </div>
  </div>
  <div class="m-3">
    <a class="btn btn-secondary btn-sm" href="/products">Volver</a>
    <a class="btn btn-outline-danger btn-sm" href="/api/sessions/logout">Cerrar Sesión</a>
  </div>
</div>